*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}

.container{
    width: 80%;
    border: 25px solid pink;
    margin: 50px auto;
    padding: 3px;
}

.wrapper{
    width: 99%;
    margin: 0 auto;
    padding: 0 5px;
    border-left: 1px solid gray;
     border-right: 1px solid gray;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name-section{
    display: flex;
    justify-content: space-between;
}

.header-input{
    flex-basis: 20em;
    flex-grow: 1;
    flex-shrink: 1;
}

.header-input input{
    width: 80%;
}

.dob-input{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

.dob-input input{
    width: 30em;
}

#streetAddress{
    width: 98%;
}

.city-wrap{
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.city-wrap input{
    width: 30rem;
}

.contact-wrap{
    display: flex;
    justify-content: space-between;
}

.contact-wrap input{
    width: 30rem;
}

sup{
    color: red;
}

.courses{
    border: 1px solid gray;
    margin-top: 15px;
    background-color: rgb(243, 243, 243);
    padding: 10px;
}

.add{
    background-color: rgb(210, 209, 209);
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

select{
    height: 30px;
    background-color:  rgb(243, 243, 243);
    padding: 0 5px;
}

.comment{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

textarea{
    height: 100px;
    margin-bottom: 20px;
}

.submit{
    background-color: rgba(0, 98, 255, 0.897);
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 15px;
}

.preview{
    background-color: #000;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
}

.preview-panel{
    background-color: #fff;
    width: 70%;
    margin: 100px auto;
    text-align: left;
    padding: 30px 0;
}

#close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90px;
    right: 110px;
    border: 4px solid red;
    
}

.preview-panel p{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    padding: 5px;
     border: 1px solid gray;
     background-color: rgba(223, 211, 211);
}

.preview-panel p span{
    margin-left: 50px;
    text-align: left;
    /* border: 1px solid gray; */
}

